# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# weights and models of trained NN
notebook/weights/
notebook/models/

.vscode/
model.png

notebook/utils/activationFunctions.png

_jlc/

